sources/__history/MainForm.dfm.~1~
sources/__history/MainForm.dfm.~2~
sources/__history/MainForm.dfm.~3~
sources/__history/StaticAnalyzer.pas.~1~
sources/__history/StaticAnalyzer.pas.~2~
sources/__history/StaticAnalyzer.pas.~3~
sources/__history/StaticAnalyzer.pas.~4~
sources/__history/uMethodd12.pas.~6~
sources/__history/uMethodd12.pas.~7~
sources/__history/uParser.pas.~36~
sources/__history/uParser.pas.~37~
sources/__history/uParser.pas.~38~
sources/__history/uParser.pas.~39~
Win64/Debug/analyser.d12.exe
Win64/Debug/analyser.d12.rsm
Win64/Debug/MainForm.dcu
Win64/Debug/MeineUnit.dcu
Win64/Debug/StaticAnalyzer.dcu
Win64/Debug/StaticFiles.dcu
Win64/Debug/uConsts.dcu
Win64/Debug/uMethodd12.dcu
Win64/Debug/uParser.dcu
resources/__history/MeineUnit.pas.~9~
resources/__history/MeineUnit.pas.~10~
resources/__history/MeineUnit.pas.~11~
resources/__history/MeineUnit.pas.~12~
resources/__history/MeineUnit.pas.~13~
resources/__history/MeineUnit.pas.~14~
resources/__history/MeineUnit.pas.~15~
resources/__history/MeineUnit.pas.~16~
resources/__history/MeineUnit.pas.~17~
resources/__history/MeineUnit.pas.~18~
__history/analyser.d12.dpr.~1~
